@{
	var blogList = ViewData["Blog"] as List<BMOS.Models.BlogInfoModel>;
}
<div class="blog-container">
	<div class="row blog-list">
		<div class="col-12 product-list__title">Danh sách Blog</div>
		<div class="row g-0">
			<div class="blog-warpper">
				@foreach (var item in blogList)
				{
					<div class="blog-item">
						<div class="blog-content">
							<a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.blogId">
								<div class="blog-img" style="background-image: url(@item.blogImage); background-size: cover"></div>
							</a>
							<div class="blog-desc">
								<div class="blog-desc__title">
									@item.blogName
								</div>
								<div class="blog-desc__detail">
									@Html.Raw(item.blogDescription)
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>