body {
    background: url('../images/background.png');
    background-size: cover;
    background-color: #f7ae54;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emotion-div {
    width: 200px;
    height: 660px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#div{
    width:30px;
    height:30px;
    box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
    position:relative;
    animation-name: move, reSize, bgColor;
    animation-duration:10s;
    animation-iteration-count:infinite;
}

#div-1{
    width:60px;
    height:60px;
    box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
    position:relative;
    animation-name: move-1, reSize, bgColor;
    animation-duration:22s;
    animation-iteration-count:infinite;
}

#div-2{
    width:50px;
    height:50px;
    box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
    position:relative;
    animation-name: move-2, reSize, bgColor;
    animation-duration:4s;
    animation-iteration-count:infinite;
}

#div-3{
    width:70px;
    height:70px;
    box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
    position:relative;
    animation-name: move-3, reSize, bgColor;
    animation-duration:16s;
    animation-iteration-count:infinite;
}

@keyframes move{
    0%{
        top:-330px;
    }

    50%{
        top: 330px;
    }
    100%{
        top: 330px;
        top:-330px;
    }
}

@keyframes move-1{
    0%{
        top:330px;
    }

    50%{
        top: -250px;
    }
    100%{
        top: -2500px;
        top:330px;
    }
}

@keyframes move-2{
    0%{
        top:-330px;
    }

    50%{
        top: 330px;
    }
    100%{
        top: 330px;
        top:-330px;
    }
}

@keyframes move-3{
    0%{
        top:330px;
    }

    50%{
        top: -300px;
    }
    100%{
        top: -300px;
        top:330px;
    }
}

@keyframes reSize{
    from{width:50px;height:50px;}
    to{width:100px;height:100px;}
}
@keyframes bgColor{
    from{background-color:rgb(201, 125, 50);}
    to{background-color:rgb(198, 123, 9);}
}



#form-login {
    max-width: 490px;
    max-height: 660px;
    background-color: rgba(161, 89, 7, 0.3);
    border: 1px solid rgb(204, 105, 13);
    box-shadow: 0px 0px 7px 1px rgba(179, 99, 20, 0.822);
    border-radius: 20px;
    padding: 20px;
}

.notice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.notice_text {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1rem;
}

h2 {
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
}

.form-group {
    margin-top: 20px;
}

.input {
    width: 360px;
    height: 45px;
    border-radius: 20px;
    padding: 0 20px;
    border: none;
}

.input::placeholder {
    color: black;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
}

.btn:hover {
    background-color: #b48010;
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: space-between;
}

.submit {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    color: white; 
}

.btn-forgot:hover {
    color: #b48010;
}

.btn-login {
    background-color: #b48010;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #fee3a8;
}

.login-social {
    width: 400px;
    margin: 20px 0;
}

.recommend {
    height: 30px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    background-color: black;
    height: 0.5px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 170px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1rem; */
}

.icon {
    width: 320px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


.others-text {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}


.btn-name {
    height: 45px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
}