
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="css/reset.css">-->
    <link rel="stylesheet" href="~/css/forgot.css">
    <title>Quên mật khẩu</title>
</head>
<body>
    <style>
        body {
            background: url('../images/background.png');
            background-size: cover;
            background-color: #f7ae54;
        }

        .emotion-div {
            width: 200px;
            height: 660px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #div {
            width: 30px;
            height: 30px;
            box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
            position: relative;
            animation-name: move, reSize, bgColor;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        #div-1 {
            width: 60px;
            height: 60px;
            box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
            position: relative;
            animation-name: move-1, reSize, bgColor;
            animation-duration: 22s;
            animation-iteration-count: infinite;
        }

        #div-2 {
            width: 50px;
            height: 50px;
            box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
            position: relative;
            animation-name: move-2, reSize, bgColor;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        #div-3 {
            width: 70px;
            height: 70px;
            box-shadow: 0px 0px 7px 1px rgba(197, 123, 38, 0.822);
            position: relative;
            animation-name: move-3, reSize, bgColor;
            animation-duration: 16s;
            animation-iteration-count: infinite;
        }

        @@keyframes move {
            0% {
                top: -330px;
            }

            50% {
                top: 330px;
            }

            100% {
                top: 330px;
                top: -330px;
            }
        }

        @@keyframes move-1 {
            0% {
                top: 330px;
            }

            50% {
                top: -250px;
            }

            100% {
                top: -250px;
                top: 330px;
            }
        }

        @@keyframes move-2 {
            0% {
                top: -330px;
            }

            50% {
                top: 330px;
            }

            100% {
                top: 330px;
                top: -330px;
            }
        }

        @@keyframes move-3 {
            0% {
                top: 330px;
            }

            50% {
                top: -300px;
            }

            100% {
                top: -300px;
                top: 330px;
            }
        }

        @@keyframes reSize {
            from {
                width: 50px;
                height: 50px;
            }

            to {
                width: 100px;
                height: 100px;
            }
        }

        @@keyframes bgColor {
            from {
                background-color: rgb(201, 125, 50);
            }

            to {
                background-color: rgb(198, 123, 9);
            }
        }

        #form-forgot {
            max-width: 490px;
            max-height: 660px;
            background-color: rgba(161, 89, 7, 0.3);
            border: 1px solid rgb(204, 105, 13);
            box-shadow: 0px 0px 7px 1px rgba(179, 99, 20, 0.822);
            border-radius: 20px;
            padding: 20px;
        }
    </style>
    @if (ViewBag.ConfirmForgotSuccess != null)
    {   
                <style>
                    .alert {
                        width: 40%;
                        margin: 0px auto;
                        padding: 20px;
                        background-color: #d4e9d8;
                        color: black;
                        text-align: center;
                    }

                    .closebtn {
                        margin-left: 15px;
                        color: black;
                        font-weight: bold;
                        float: right;
                        font-size: 1.4rem;
                        line-height: 20px;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                    
                    .link {
                        color: black;
                        font-weight: bold;
                        font-size: 1.4rem;
                        line-height: 20px;
                        cursor: pointer;
                        text-decoration: none;
                    }

                    .closebtn:hover {
                        color: white;
                    }
                </style>

                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                    <span>@ViewBag.ConfirmForgotSuccess <a href="https://mail.google.com/mail" class="link">Email</a> để xác nhận tiến trình.</span> 
                </div>
    }
    <div id="wrapper">
        <div class="emotion-div">
            <div id="div"></div>
            <div id="div-2"></div>
        </div>

        <div id="form-forgot">           
            <div class="forgot-account">
                <form action="~/Account/ForgotPassword" method="post">           
                    <h2>Quên mật khẩu</h2>
                    <style>
                        .notice {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .notice_text {
                            color: red;
                            font-family: Arial, Helvetica, sans-serif;
                            font-style: normal;
                            font-size: 1rem;
                            margin-top: 15px;
                        }

                        #form-forgot {
                            max-width: 490px;
                            max-height: 800px;
                        }
                    </style>
                    
                    @if (ViewBag.ErrorConfirmForogot != null)
                    {
                        <div class="notice">
                            <span class="notice_text">@ViewBag.ErrorConfirmForogot</span>
                        </div>
                    }
                    
                    <div class="others-text">
                        <p>
                            Tạo tài khoản để quản lý đơn hàng, và các thông tin thanh toán, gửi hàng một cách đơn giản hơn.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="username"></label>
                        <input type="email" name="username" value="" class="input input--username" placeholder="E-mail" required>
                    </div>

                    <div class="form-group">
                        <div class="action">
                            <button type="submit" id="submit" class="submit btn-forgot"><b>Gửi</b></button>
                            <a href="~/Account/Login" class="submit btn-login"><b>Hủy</b></a>
                        </div>
                        
                    </div>                  
                </form>
            </div>

            <div class="forgot-social">
                <div class="recommend">
                    <div class="line">
                        <span class="text">Hoặc đăng nhập qua</span>
                    </div>
                </div>
                <div class="icon">
                    <a href="http://" class="login-icon"><img width="150px" height="40px" src="~/images/fb.png" alt=""></a>
                    <a href="http://" class="login-icon"><img width="150px" height="40px" src="~/images/gg.png" alt=""></a>
                </div>
            </div>

            <div class="others">                
                <div class="others-button">
                    <a href="~/Account/Register" class="btn btn-name"><b>Tạo tài khoản mới</b></a>               
                    <a href="~/Home/Index" class="btn btn-name"><b>Trở về Trang Chủ</b></a>             
                </div>               
            </div>
        </div>

        <div class="emotion-div">
            <div id="div-1"></div>
            <div id="div-3"></div>
        </div>
    </div>
</body>
</html>
