
@{
    ViewData["Title"] = "UserChangePassword";
    Layout = "_Layout";
    var id = ViewBag.ID;
}

    <div class="container">
        <div class="content">
            <div class="row userprofile">
                <div class="col-12 userprofile_title">Trang chủ/ Chỉnh sửa người dùng</div>
            </div>
            <div class="row userinfo">
                <div class="col-7 userprofile_info">
                    <style>
                        .userprofile_info_wel_history:hover {
                            background-color: #e38a41;
                        }
                    </style>
                    <div class="row userprofile_info_wel">
                        <div class="col-6">
                            <div class="userprofile_info_wel_history">
                                <img src="~/images/history.png" alt="" srcset="">
                                <a href="~/Account/UserHistoryOrder" style="text-decoration: none; color: black;"><h3 style="font-weight: bold; margin-top: 10px;">Lịch sử đơn hàng</h3></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="userprofile_info_wel_welcome">
                                <img src="~/images/user-icon.png" alt="" srcset="">
                                <h3 style="font-weight: bold; margin-top: 10px;">Xin chào, <Span>@ViewBag.Fullname</Span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="user_changepass">
                            <h3 style="color: rgb(247, 157, 40);"><b>Đổi mật khẩu</b></h3>
                            <style>
                                .alert {
                                    width: 95%;
                                    margin-top: 10px;
                                    margin-bottom: 0px;
                                    padding: 20px;
                                    background-color: #d4e9d8;
                                    color: black;
                                    text-align: center;
                                }

                                .closebtn {
                                    color: black;
                                    font-weight: bold;
                                    float: right;
                                    font-size: 1.6rem;
                                    line-height: 20px;
                                    cursor: pointer;
                                    transition: 0.3s;
                                }

                                    .closebtn:hover {
                                        color: white;
                                    }
                            </style>

                            @if (ViewBag.ChangeSuccess != null)
                            {
                                <div class="alert success">
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                    <span style="font-size: 1.6rem;">@ViewBag.ChangeSuccess</span>
                                </div>
                            }
                            @if (ViewBag.ChangeFail != null)
                            {
                                <div class="alert success">
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                    <span style="font-size: 1.6rem;">@ViewBag.ChangeFail</span>
                                </div>
                            }

                            <form action="~/Account/UserChangePassword" method="post">
                                <div class="form-group">
                                    <label for="username"></label>
                                    <input type="hidden" name="username" value="@ViewBag.User" class="input input--username">
                                </div>

                                <div class="form-group" style="position: relative; display: flex; align-items: center; justify-content: center;">
                                    <label for="oldpassword"></label>
                                    <input type="password" name="oldpassword" value="" class="input input--password" placeholder="Mật khẩu hiện tại" required>
                                    <div id="eye" style="position: absolute;right: 5%; cursor: pointer;">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </div>
                                </div>

                                <div class="form-group" style="position: relative; display: flex; align-items: center; justify-content: center;">
                                    <label for="password"></label>
                                    <input type="password" name="password" value="" id="password" class="input input--password" placeholder="Mật khẩu mới" required>
                                    <div id="eyee" style="position: absolute;right: 5%; cursor: pointer;">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </div>
                                </div>

                                <div class="form-group" style="position: relative; display: flex; align-items: center; justify-content: center;">
                                    <label for="confirmPassword"></label>
                                    <input type="password" name="confirmPassword" value="" id="confirm_password" class="input input--password" placeholder="Nhập lại mật khẩu mới" required>
                                    <div id="eyeee" style="position: absolute;right: 5%; cursor: pointer;">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="action">
                                        <button type="submit" id="submit" class="btn btn-change">Xác nhận</button>
                                        <a href="~/Account/ForgotPassword" class="btn btn-forgot">Quên mật khẩu</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="userprofile_bar">
                        <div class="userprofile_bar_profile">
                            <img src="~/images/user-icon.png" alt="" srcset="">
                            <a href="~/Account/UserProfile" target="" >Hồ sơ</a>
                        </div>
                        <div class="userprofile_bar_profile">
                            <img src="~/images/locationmanege.png" alt="" srcset="">
                            <a href="~/Account/UserLocation" target="">Cài đặt địa chỉ</a>
                        </div>
                        <div class="userprofile_bar_profile">
                            <img src="~/images/reset-password.png" alt="" srcset="">
                            <a href="~/Account/UserChangePassword" target="" style="color: #e38a41; font-weight: bold;">Đổi mật khẩu</a>
                        </div>
                        <div class="userprofile_bar_profile">
                            <img src="~/images/logout.png" alt="" srcset="">
                            <a href="~/Account/Refund" target="">Hoàn trả sản phẩm</a>
                        </div>
                        <div class="userprofile_bar_profile">
                            <img src="~/images/logout.png" alt="" srcset="">
                            <a href="~/Account/Logout" target="">Đăng xuất</a>
                        </div>
                        
                    </div>
                </div>



            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/6208ee92db.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#eye').click(function () {
                $(this).toggleClass('open');
                $(this).children('i').toggleClass('fa-eye fa-eye-slash');
                if ($(this).hasClass('open')) {
                    $(this).prev().attr('type', 'text');
                }
                else {
                    $(this).prev().attr('type', 'password');
                }
            });

            $('#eyee').click(function () {
                $(this).toggleClass('open');
                $(this).children('i').toggleClass('fa-eye fa-eye-slash');
                if ($(this).hasClass('open')) {
                    $(this).prev().attr('type', 'text');
                }
                else {
                    $(this).prev().attr('type', 'password');
                }
            });

            $('#eyeee').click(function () {
                $(this).toggleClass('open');
                $(this).children('i').toggleClass('fa-eye fa-eye-slash');
                if ($(this).hasClass('open')) {
                    $(this).prev().attr('type', 'text');
                }
                else {
                    $(this).prev().attr('type', 'password');
                }
            });
        });
    </script>


