@model BMOS.Models.Entities.TblUser

@{
	Layout = "_ManagePage";
	ViewData["Title"] = "Account Manage";
	var errorUserName = ViewData["ErrorUser"];
}

<h1>Tạo tài khoản Staff</h1>
<hr />
<div class="row">
    <div class="col-md-4" style="width:100%">
		<form asp-action="Create">
			<div class="form-group">
				<label asp-for="Username" class="control-label">Email</label>
				@if(errorUserName != null)
				{
					<span style="color: red;">@errorUserName</span>
				}
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
				
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label">Mật Khẩu</label>
				<input asp-for="Password" class="form-control" type="password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="IsConfirm" value="true" class="form-control" />

			<div class="form-group">
				<label asp-for="Firstname" class="control-label">Họ</label>
				<input asp-for="Firstname" class="form-control" />
				<span asp-validation-for="Firstname" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="Point" value="0" class="form-control" />
			<div class="form-group">
				<label asp-for="Lastname" class="control-label">Tên</label>
				<input asp-for="Lastname" class="form-control" />
				<span asp-validation-for="Lastname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Numberphone" class="control-label">Số Điện Thoại</label>
				<input asp-for="Numberphone" class="form-control" />
				<span asp-validation-for="Numberphone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Address" class="control-label">Địa Chỉ</label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Trạng Thái</label>
				<select asp-for="Status" class="form-control" readonly>
					<option value="true">Hoạt động</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="UserRoleId" class="control-label">Vai trò</label>
				<select asp-for="UserRoleId" class="form-control" readonly>
					<option value="2">Nhân Viên</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-secondary">Back to List</a>
			</div>
		</form>
    </div>
</div>