@model BMOS.Models.Entities.TblUser

@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Account Manage";
    }
<link href="~/css/create_edit.css" rel="stylesheet" />

<h1>Chỉnh sửa tài khoản</h1>

<hr />
<div class="row" style="margin-left:300px;">
    <div class="col-md-16">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input class="form-control" type="password" asp-for="Password" value="@Model.Password" readonly />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
                <input asp-for="IsConfirm" type="hidden" class="form-control" readonly />
                
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" readonly />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" readonly />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numberphone" class="control-label"></label>
                <input asp-for="Numberphone" class="form-control" readonly />
                <span asp-validation-for="Numberphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            
                <input asp-for="DateCreate" type="hidden" class="form-control" readonly />
                
            
                <input asp-for="LastActivitty" type="hidden" class="form-control" readonly />
                
            
                <input asp-for="Point" type="hidden" class="form-control" readonly/>
                
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option selected="@(Model.Status == false)" value="False">Ngừng hoạt động</option>
                    <option selected="@(Model.Status == true)" value="True">Hoạt động</option>

                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoleId" class="control-label"></label>
                <input asp-for="UserRoleId" class="form-control" readonly/>
                <span asp-validation-for="UserRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Lại</a>
</div>